---
title: FAQ for (AUS Non-RP) PlaYsiA's Discovery
---
<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
	<link rel="stylesheet" href="./assets/css/styles.css">
	<link rel="stylesheet" href="./assets/css/discordInvite.css">
    <title>{{ page.title }}</title>
  </head>
  <body>
	{% include navbar.html %}
	
	<div class="container-fluid">
		<div class="row">
			<div class="col-2">
				<ul class="install">
					<li class="install"><a class="active" href="#top">Top</a></li>
					<li class="install"><a href="#autobuy">Autobuy</a></li>
					<li class="install"><a href="#discotutes">Useful Discovery Tutorials</a></li>
					<li class="install"><a href="#pbupgrade">Player Base Upgrade Costs</a></li>
					<li class="install"><a href="#restarts">Available Restarts</a></li>
					<li class="install"><a href="#idpower">ID Power</a></li>
					<li class="install"><a href="#plugins">Plugins</a></li>
					<li class="install"><a href="#mining">Mining</a></li>
					<li class="install"><a href="#commsymbols">Weird Symbols on Commodities</a></li>
					<li class="install"><a href="#cantconnect">Can't See the Server!</a></li>
					<li class="install"><a href="#discordinvite"><b>Join us on Discord!</b></a></li>
					<li class="install"><a href="#flrules"><b>In-Game Rules</b></a></li>
				</ul>
			</div>

			<div class="col" style="padding:1px 16px;">
				<a id="top"><h1>Frequently Asked Questions</h1></a>
				<br />
				
				<a id="autobuy"><h2>Autobuy</h2></a>
				{% include markdown.html path="_markdown/autobuy.md" selector="section" id="autobuy" %}
				<br />
				<br />
				
				<a id="discotutes"><h2>Useful Discovery Tutorials</h2></a>
				{% include markdown.html path="_markdown/discotutes.md" selector="section" id="discotutes" %}
				<br />
				<br />
				
				<a id="pbupgrade"><h2>Player Base Upgrade Costs</h2></a>
				{% include markdown.html path="_markdown/pbupgrade.md" selector="section" id="pbupgrade" %}
				<br />
				<br />
				
				<a id="restarts"><h2>Available Restarts</h2></a>
				{% include markdown.html path="_markdown/restarts.md" selector="section" id="restarts" %}
				<br />
				<br />
				
				<a id="idpower"><h2>ID Power</h2></a>
				{% include markdown.html path="_markdown/idpower.md" selector="section" id="idpower" %}
				<br />
				<br />
				
				<a id="plugins"><h2>What are the new Plugins?</h2></a>
				{% include markdown.html path="_markdown/plugins.md" selector="section" id="plugins" %}
				<br />
				<br />
				
				<a id="mining"><h2>Mining</h2></a>
				{% include markdown.html path="_markdown/mining.md" selector="section" id="mining" %}
				<br />
				<br />
				
				<a id="commsymbols"><h2>Weird Symbols on Commodities</h2></a>
				{% include markdown.html path="_markdown/noreturn.md" selector="section" id="noreturn" %}
				<br />
				<br />
				
				<a id="cantconnect"><h2>Help I can't see the server in the list!</h2></a>
				{% include markdown.html path="_markdown/cantconnect.md" selector="section" id="cantconnect" %}
				<br />
				<br />
				
				<a id="discordinvite"><h3>Discord Invite</h3></a>
				{% include markdown.html path="_markdown/discord.md" selector="section" id="discordinvite" %}
				<p><script src="./assets/js/discordInvite.js"></script>
				<script>
					discordInvite.init({
					inviteCode: 'QDnpwk2vvA',
					title: 'PlaYsiA Discovery Server Discord',
					});
					discordInvite.render();
				</script>
				<div id="discordInviteBox"></div></p>
				<br />
				<br />
				
				<a id="flrules"><h3>In-Game Rules</h3></a>
				{% include markdown.html path="_markdown/rules.md" selector="section" id="flrules" %}
				
				
				<p class="bottomtext">If you really want to, you can see the source <a href=https://github.com/PlaYsiADiscovery/PlaYsiADiscovery.github.io>here</a>
				<br />Big thankyou to <a href=https://github.com/SynthSy>SynthSy</a> for the design.</p>
			</div>
		</div>
	</div>

	{% include footer.html %}
  </body>
</html>