---
title: Setup Freelancer for (AUS Non-RP) PlaYsiA's Discovery
---
<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
	<link rel="stylesheet" href="./assets/css/styles.css">
	<link rel="stylesheet" href="./assets/css/discordInvite.css">
    <title>{{ page.title }}</title>
  </head>
  <body>
  <!-- Navigation -->
	<ul>
		<li><a class="active" href="#top">Top</a></li>
		<li><a href="#step1"><b>Step 1 - </b>Prepare Windows</a></li>
		<li><a href="#step1_1">1.1 Install .NET Framework</a></li>
		<li><a href="#step1_2">1.2 Enable .NET Framework 3.5 and DirectPlay</a></li>
		<li><a href="#step2"><b>Step 2 - </b>Install Freelancer + Mod</a></li>
		<li><a href="#step2_1">2.1 Install Freelancer</a></li>
		<li><a href="#step2_2">2.2 Install the Discovery Mod</a></li>
		<li><a href="#step2_3">2.3 Update the Discovery Mod</a></li>
		<li><a href="#step3"><b>Step 3 - </b>Edit Freelancer</a></li>
		<li><a href="#step3_1">3.1 Enable the Freelancer Public Gamelist Server</a></li>
		<li><a href="#step3_2">3.2 Install the PlaYsiA Discovery Launcher</a></li>
		<li><a href="#step4"><b>Step 4 - </b>Play Freelancer</a></li>
		<li><a href="#step4_1">4.1 Run the game and connect</a></li>
		<li><a href="#discordinvite"><b>Join us on Discord!</b></a></li>
		<li><a href="#flrules"><b>In-Game Rules</b></a></li>
	</ul>
	<div style="margin-left:15%;padding:1px 16px;height:1000px;">
		<a id="top"><h1>How to setup Freelancer for PlaYsiA's Discovery Server</h1></a>
		<p>Appears in game as: <i>(AUS Non-RP) PlaYsiA's Discovery</i></p>
		<br />
		<a id="step1"><h2>Step 1 - Prepare Windows</h2></a>
		<a id="step1_1"><h3>1.1 Install .NET Framework</h3></a>
		{% include markdown.html path="_markdown/Step1_1.md" selector="section" id="step1_1" %}
		
		<a id="step1_1"><h3>1.2 Enable .NET Framework 3.5 and DirectPlay</h3></a>
		{% include markdown.html path="_markdown/Step1_2.md" selector="section" id="step1_2" %}
		
		<br />
		<br />
		<a id="step2"><h2>Step 2 - Install Freelancer</h2></a>
	
		<a id="step2_1"><h3>2.1 Install Freelancer</h3></a>
		{% include markdown.html path="_markdown/Step2_1.md" selector="section" id="step2_1" %}
		<br />
		<a id="step2_2"><h3>2.2 Install the Discovery Mod</h3></a>
		{% include markdown.html path="_markdown/Step2_2.md" selector="section" id="step2_2" %}
		<br />
		<a id="step2_3"><h3>2.3 Update the Discovery Mod</h3></a>
		{% include markdown.html path="_markdown/Step2_3.md" selector="section" id="step2_3" %}
		
		<br />
		<br />
		<a id="step3"><h2>Step 3 - Edit Freelancer</h2></a>
		<a id="step3_1"><h3>3.1 Enable the Freelancer Public Gamelist Server</h3></a>
		{% include markdown.html path="_markdown/Step3_1.md" selector="section" id="step3_1" %}
		<br />
		<a id="step3_2"><h3>3.2 Install the PlaYsiA Discovery Launcher</h3></a>
		{% include markdown.html path="_markdown/Step3_2.md" selector="section" id="step3_2" %}
		
		<br />
		<br />
		<a id="step4"><h2>Step 4 - Play Freelancer</h2></a>
		<a id="step4_1"><h3>4.1 Run the game and connect</h3></a>
		{% include markdown.html path="_markdown/Step4_1.md" selector="section" id="step4_1" %}
		
		<br />
		<br />
		<a id="discordinvite"><h3>Discord Invite</h3></a>
		{% include markdown.html path="_markdown/discord.md" selector="section" id="discordinvite" %}
		<p><script src="./assets/js/discordInvite.js"></script>
		<script>
			discordInvite.init({
			inviteCode: 'QDnpwk2vvA',
			title: 'PlaYsiA Discovery Server Discord',
			});
			discordInvite.render();
		</script>
		<div id="discordInviteBox"></div></p>
		
		<br />
		<br />
		<a id="flrules"><h3>In-Game Rules</h3></a>
		{% include markdown.html path="_markdown/rules.md" selector="section" id="flrules" %}
		
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		<p>If you really want to, you can see the source <a href=https://github.com/PlaYsiADiscovery/PlaYsiADiscovery.github.io>here</a></p>
	</div>
  </body>
</html>

